<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header-javier.css">
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <section>
        <div><input type="button"><a href="/admin/crear">Crear</a></div>
        <div><input type="button"><a href="/admin/editar">Editar</a></div>
        <div><input type="button"><a href="/admin/borrar">Borrar</a></div>
        <div><input type="button"><a href="/admin/verUsuarios">Ver Usuarios</a></div>
        <div><input type="button"><a href="/admin/verPlanes">Ver Planes</a></div>
    </section>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>