<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Producto</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header-javier.css">
    <link rel="stylesheet" href="styles-fermin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon" />
</head>
<body>
    <header>
    <%- include('../partials/header.ejs') %>
    </header>

    <form action="/admin/borrar" method="post">
        <div>
            <label for="plan_a_borrar">Seleccionar Plan a Borrar</label>
            <select name="plan_a_borrar" class="form-select">
                <% for( let i = 0; i < planes.length; i++ ) { %>
                    <option value="<%= planes[i].id %> "><%= planes[i].nombre_plan %> </option>
                <% } %>
            </select>
        </div>

        <input type="submit" value="Borrar">
    </form>

    <footer>
    <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>