<section class="last">
    <article>
        <div class="promotion">
            <a class="footer-logo" href="/">
                <img src="images/logo-home.png" alt="Logo de net4All" class="header-logo">
            </a>
        </div>
    </article>
    <article>
        <div class="promotion">
            <div class="footer-links">
                <ul class="footer-bottom-navbar-left">
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="/products">Servicios</a></li>
                    <li><a href="#">Planes</a></li>
                    <li><a href="#">Soporte</a></li>
                </ul>
                <ul class="footer-bottom-navbar-right">
                    <li><a href="/products/cart">Tu carrito</a></li>
                    <li><a href="/users/login">Log in</a></li>
                </ul>
            </div>  
        </div>
    </article>
    <article>
        <div class="promotion">
            <div class="footer-contact-main">
                <h3>Contactanos</h3>
                <ul class="footer-contact-info">
                    <li><i class="fas fa-map-marked-alt"></i> <a href="https://goo.gl/maps/cAqU2HLZwpYLxAT56">Vito Dumas 46, CABA, Argentina</a></li>
                    <li><i class="fas fa-phone"></i> <a href="tel:+5408001990666">0800.199.0666</a></li>
                    <li><i class="fas fa-at"></i> <a href="mailto:soporte@net4all.com.ar">soporte@net4all.com.ar</a></li>     
                </ul>   
            </div>               
        </div>
    </article>                 
</section>
<section>
    <p class="copyright">Copyright © 1999-2021 | Net For All S.R.L.</p>
</section>