<div class="header-top-bar">                
    <div class="header-top-logo-left">
        <a href="/">
            <img src="images/logo-home.png" alt="Logo de net4All" class="header-logo">
        </a> 
    </div>                
</div>
<div class="header-bottom-bar">
    <nav class="header-navbar-main">
        <ul class="header-bottom-navbar-left">
            <li><a href="#">Nosotros</a></li>
            <li><a href="/products">Servicios</a></li>
            <li><a href="#">Planes</a></li>
            <li><a href="#">Soporte</a></li>
        </ul>
        <ul class="header-bottom-navbar-right">
            <li><a href="/products/cart"><i class="fas fa-cart-plus"></i>  Tu carrito</a></li>
            <li><a href="/users/login"><i class="far fa-user-circle"></i>  Log in</a></li>
        </ul>
    </nav>
</div>
<div class="header-bottom-burger-menu">
    <i class="fa fa-bars burger"></i>
</div>