<!DOCTYPE html>
<html lang="es-AR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="icon" href="images/favicon/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="css/styles-javier.css">
        <title>net4All | Internet en todos lados</title>
    </head>
    <body>
        <header>
            <div class="header-top-bar">                
                <div class="header-top-logo-left">
                    <a href="/">
                        <img src="images/logo-home.png" alt="Logo de net4All" class="header-logo">
                    </a> 
                </div>                
            </div>
            <div class="header-bottom-bar">
                <nav class="header-navbar-main">
                    <ul class="header-bottom-navbar-left">
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="/servicios">Servicios</a></li>
                        <li><a href="#">Planes</a></li>
                        <li><a href="#">Soporte</a></li>
                    </ul>
                    <ul class="header-bottom-navbar-right">
                        <li><a href="/carrito"><i class="fas fa-cart-plus"></i>  Tu carrito</a></li>
                        <li><a href="/users/login"><i class="far fa-user-circle"></i>  Log in</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-bottom-burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>        
        <main>
            <section class="wrapper">
                <div class="slideshows">
                <div class="slideshow slideshow--hero">
                    <div class="slides">
                    <div class="slide slide1"></div>
                    <div class="slide slide2"></div>
                    <div class="slide slide3"></div>
                    </div>
                </div>
                <div class="slideshow slideshow--contrast slideshow--contrast--before">
                    <div class="slides">
                    <div class="slide slide1"></div>
                    <div class="slide slide2"></div>
                    <div class="slide slide3"></div>
                    </div>
                </div>
                <div class="slideshow slideshow--contrast slideshow--contrast--after">
                    <div class="slides">
                    <div class="slide slide1"></div>
                    <div class="slide slide2"></div>
                    <div class="slide slide3"></div>
                    </div>
                </div>
                </div>
            </section>
            <section class="main-hire-button">
                <a class="fcc-btn" href="#">¡Contratalo ahora!</a>
            </section>            
            <section class="main-products-container">                        
                <div class="products">
                    <article class="home-main-promo">                         
                        <div class="home-main-container">
                            <h2><b>Plan Inalámbrico</b></h2>
                            <p>¡Conectate desde cualquier lado del país y con la mejor velocidad posible!</p>
                        </div>
                        <div class="home-main-image">
                            <img src="/images/slide2.png" alt="Banner de Internet Inalámbrica">
                        </div>
                        <div class="home-main-container">
                            <p class="main-home-discount">75% de descuento con código: <span class="home-main-codepromo">NET4ALL</span></p>
                            <div class="home-main-hireNow">
                                <p >¡Contratalo ahora!</p>
                            </div>
                        </div>                                               
                    </article>                    
                </div>
            </section>  
            <section class="banner">
                <img src="/images/slide3.jpg" alt="Banner de formas de pago">
            </section>                                 
        </main>
        <footer>            
            <section class="last">
                <article>
                    <div class="promotion">
                        <a class="footer-logo" href="/">
                            <img src="images/logo-home.png" alt="Logo de net4All" class="header-logo">
                        </a>
                    </div>
                </article>
                <article>
                    <div class="promotion">
                        <div class="footer-links">
                            <ul class="footer-bottom-navbar-left">
                                <li><a href="#">Nosotros</a></li>
                                <li><a href="/servicios">Servicios</a></li>
                                <li><a href="#">Planes</a></li>
                                <li><a href="#">Soporte</a></li>
                            </ul>
                            <ul class="footer-bottom-navbar-right">
                                <li><a href="/carrito">Tu carrito</a></li>
                                <li><a href="/login">Log in</a></li>
                            </ul>
                        </div>  
                    </div>
                </article>
                <article>
                    <div class="promotion">
                        <div class="footer-contact-main">
                            <h3>Contactanos</h3>
                            <ul class="footer-contact-info">
                                <li><i class="fas fa-map-marked-alt"></i> <a href="https://goo.gl/maps/cAqU2HLZwpYLxAT56">Vito Dumas 46, CABA, Argentina</a></li>
                                <li><i class="fas fa-phone"></i> <a href="tel:+5408001990666">0800.199.0666</a></li>
                                <li><i class="fas fa-at"></i> <a href="mailto:soporte@net4all.com.ar">soporte@net4all.com.ar</a></li>     
                            </ul>   
                        </div>               
                    </div>
                </article>                 
            </section>
            <section>
                <p class="copyright">Copyright © 1999-2021 | Net For All S.R.L.</p>
            </section>
        </footer>        
    </body>
</html>