<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>net4All|Detalle de producto</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles-julian.css">
</head>
<body>
    <header><h1>Detalle de producto</h1></header>
    <main>
        <section class="container-julian">
            <div id="box-servicio">
            <h4 id="servicio-julian">Servicios de Net4all</h4>
            </div>
            <div id="box-portada">
            <h3 class="portada-julian">Dale la bienvenida a una internet rapida y confiable</h3>
            </div>
            <div class = "producto-julian">
            <article>
                <div id="detalle-julian">
                    <p>El internet que necesitas para estar
                        conectado con familiares o amigos,
                        en cualquier momento y lugar de tu casa.</p> 
                </div>

                </article>
            </div>
        </section>
        <section class="Segundo-container-julian">
            <ul class="socalo">
                <h3 class="up">Elegi tu plan ideal</h3>
            </ul>
            <div class="info-box">
                <article>
                        <div class="producto">
                            <div id="Net">Plan Net50 
                                <li>50 megas de velocidad de descarga</li>
                                <li>velocidad de subida de 20 mb</li>
                                <li>atencion al cliente las 24hs</li>
                                <li>modem wifi</li>
                            </div>
                            <p>
                                <input type = "submit" value="SOLICITAR">
                            </p>
                        </div>
                        <div class="producto">
                            <div id="Net">Plan Net100
                                <li>100 megas de velocidad de descarga</li>
                                <li>velocidad de subida de 50 mb</li>
                                <li>atencion al cliente las 24hs</li>
                                <li>modem wifi</li>
                            </div>
                            <p>
                                <input type = "submit" value="SOLICITAR">
                            </p>
                            
                        </div>
                </article>
            </div>
        </section>
    </main>
    <footer>Pie de Pagina</footer>
</body>
</html>